[user]
	name = Michael Zeevi
	email = michaelzeevi@protonmail.com
	signingkey = 2458479E16EF8831
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig  # contains work `user.email = ...` and `core.sshCommand = "ssh -i ~/work/.ssh/id_rsa"`
[core]
	editor = vim
	fileMode = true
	excludesfile = ~/.gitignore
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status -sb
	cam = commit -am
	last = diff HEAD~1
	d = diff
	l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d %Cgreen(%cr)%Creset %s %C(bold blue)<%an>%Creset'
[init]
	defaultBranch = main
[pull]
	rebase = false
[gpg]
	program = /usr/bin/gpg
[commit]
	gpgsign = true
