[user]
	name = Michael Zeevi
	email = michael.52@msn.com
	signingkey = B414CE964283C288
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status -sb
	cam = commit -am
	last = diff HEAD~1
	l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d %Cgreen(%cr)%Creset %s %C(bold blue)<%an>%Creset'
