[user]
	name = Michael Zeevi
	email = michael.52@msn.com
	signingkey = B414CE964283C287
[includeIf "gitdir:~/work/develeap/"]
	path = ~/work/develeap/.gitconfig  # contains work user.email
[core]
	editor = vim
	fileMode = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status -sb
	cam = commit -am
	d = diff
	last = diff HEAD~1
	l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d %Cgreen(%cr)%Creset %s %C(bold blue)<%an>%Creset'
[gpg]
	program = /usr/bin/gpg
[commit]
	gpgsign = true
[pull]
	rebase = false
